<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/register}">Register</a>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
      <p>&copy; 2024 Praćenje Treninga. Sva prava zadržana.</p>
    </footer>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
  </body>
</html>
